.bk{width:100%;height:100%;background:url(../images/bk_1.jpg)no-repeat;position:fixed;overflow:hidden;}

.box{width:88.5%;margin:25px 0 0 9.8%;}
.box .menu{margin-bottom: 13px;height: 35px;}
.box .menu > div{float:left;}

.box .menu .date{border: 1px solid #1060DD;height: 24px;margin: 3px 0;border-radius: 5px;}
.box .menu .date a{float: left;font: 14px/22px '';padding: 0 .8rem;color: #59b3ff;}
.box .menu .date a:not(:last-of-type){border-right: 1px solid #1060DD;}
.box .menu .date a.current{color:#fff;background-color: #1060DD;}
.box .menu .date span{font:16px/30px '';color:#59b3ff;margin:0 5px 0 8px;}

.box .menu .time{width:28%;height:30px;background:rgba(7,147,255,.15) url(../images/time.png)no-repeat 99% center ;border:1px solid #4daeff;line-height:28px;padding-left:5px;margin-left:20px;}
.box .menu .time a{font-size:16px;color:#59b3ff;}

.box .menu .cutover{float: right;width:22px;height:18px;margin: 4px;}
.box .menu .cutover a{display:block;width:100%;height:100%;}
.box .menu .tabsOption{float: right;}
.box .menu .tabsOption a{float: left;padding: 0 15px;font: 14px/28px '';color: #59b2ff;border-bottom: 2px solid transparent;margin-left: 5px;}
.box .menu .tabsOption a.active{color: #fff;border-color: #fff;}

.box .main{float: left;width: 81.64%;}

.box .mainTab>.mainDiv:not(:first-of-type){display: none;}
.box .mainTab>.facilityInfo{max-height: 740px;overflow-y: scroll;}
.box .mainTab>.facilityInfo::-webkit-scrollbar{width: 6px;background-color: rgba(7,147,255,.15);}
.box .mainTab>.facilityInfo::-webkit-scrollbar-thumb{background-color: rgba(7,147,255,.7);}

.box .mainDiv1 > div{float:left;}
.box .mainDiv1 .dv1{width:29.75%;margin-right:1.15%;}

.box .mainDiv1 .dv1 .map{width:100%;height:360px;margin-bottom:15px;overflow: hidden;}
.box .mainDiv1 .dv1 .img{width:100%;height:360px;padding:20px;background:rgba(7,147,255,.15);text-align:center;overflow: hidden;}
.box .mainDiv1 .dv1 .map img,
.box .mainDiv1 .dv1 .img img{display: block;width: 100%;height: 100%;}

.box .mainDiv1 .dv2{width: 69%;max-height: 735px;position:relative;overflow-y: scroll;}
.box .mainDiv1 .dv2::-webkit-scrollbar{width: 6px;background-color: rgba(7,147,255,.15);}
.box .mainDiv1 .dv2::-webkit-scrollbar-thumb{background-color: rgba(7,147,255,.7);}
.box .mainDiv1 .dv2 .switchItem > div{width:100%;height:auto;padding:35px 20px;background:rgba(6,147,255,.15);margin-bottom:15px;position: relative;}

.box .mainDiv1 .dv2 table{color:#59b3ff;font-family: PF;font-size:13px;border-collapse: collapse;}
.box .mainDiv1 .dv2 table tr td{padding-right:30px;text-align:center;}
.box .mainDiv1 .dv2 table tr:first-child td{padding-bottom:20px;}

.box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:first-child{font-size: 14px;color: #fff;}
.box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td.normal,
.box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td.operation{color:#00d0a1;font-size:18px;}
.box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td.stop{color:#919191;font-size:18px;}
.box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td{font-size:20px;color:#fff;}
.box .mainDiv1 .dv2 .drop_down{position: absolute;right:23px;bottom: 23px;}
.box .mainDiv1 .dv2 .drop_down a{display:block;width:18px;height:18px;text-align:right;}

.box .mainDiv1 .dv2 .info_2 table tr:nth-child(2) td:nth-child(1){color:#00d0a1;font-size:20px;}
.box .mainDiv1 .dv2 .info_2 table tr:nth-child(2) td:nth-child(2){color:#fff;font-size:20px;}

.box .mainDiv1 .dv2 .info_3 table tr:nth-child(2) td:nth-child(1){color:#00d0a1;font-size:20px;}
.box .mainDiv1 .dv2 .info_3 table tr:nth-child(2) td:nth-child(2){color:#fff;font-size:20px;}
.box .mainDiv1 .dv2 .info_3 table tr:nth-child(1) td:nth-child(2) ,
.box .mainDiv1 .dv2 .info_3 table tr:nth-child(2) td:nth-child(2){text-align:left;padding-left:40px;padding-right:50px;}


.box .mainDiv1 .dv2 .details_list{padding:0 0 10px!important;}
.box .mainDiv1 .dv2 .details_list table{width:100%;padding:0 20px;}
.box .mainDiv1 .dv2 .details_list table tr:first-child{width:100%;background:rgba(7,147,255,.3);}



.box .mainDiv1 .dv2 .details_list table tr th{font-size:13px;color:#fff;font-family:PF;font-weight:500;vertical-align:top;padding:5px 0;text-align:center;}
.box .mainDiv1 .dv2 .details_list table tr th span{display:block;color:#6a8bbf;font-size:12px;line-height:20px;}
.box .mainDiv1 .dv2 .details_list table tr td{padding:5px 0;}
.box .mainDiv1 .dv2 .details_list table tr:not(:first-child):nth-child(odd){background:rgba(7,147,255,.15)}


.box .mainDiv1 .dv2 .details_list table tr:not(:first-child) td:nth-child(2) span{display: inline-block;width: 34px;height: 18px;border-radius: 3px;font-size: 13px;color: #fff;text-align: center;line-height: 18px;}
.box .mainDiv1 .dv2 .details_list table tr:not(:first-child) td:nth-child(2) .normal {background: #00d0a1;}
.box .mainDiv1 .dv2 .details_list table tr:not(:first-child) td:nth-child(2) .excessive { background: #ff443a;}


.box .table{width:100%;height:auto;margin-top:10px;}
.box .table table{width:100%;height:auto;border-collapse: collapse;}
.box .table table tr:first-child{width:100%;height:60px;font-size:16px;color:#59b3ff;}

.box .table table tr:first-child th:first-child ,
.table table tr:not(:first-child) td{width:11.5%;text-align:center;}
.box .table table tr:first-child th:nth-child(2) ,
.table table tr:not(:first-child) td:nth-child(2){width:10.8%;text-align:center;}
.box .table table tr:first-child th:nth-child(3) ,
.table table tr:not(:first-child) td:nth-child(3){width:12.6%;text-align:center;}
.box .table table tr:first-child th:nth-child(4) ,
.table table tr:not(:first-child) td:nth-child(4){width:12.6%;text-align:center;}
.box .table table tr:first-child th:nth-child(5) ,
.table table tr:not(:first-child) td:nth-child(5){width:6.5%;text-align:center;}
.box .table table tr:first-child th:nth-child(6) ,
.table table tr:not(:first-child) td:nth-child(6){width:11.5%;text-align:center;}
.box .table table tr:first-child th:nth-child(7) ,
.table table tr:not(:first-child) td:nth-child(7){width:7.2%;text-align:center;}
.box .table table tr:first-child th:nth-child(8) ,
.table table tr:not(:first-child) td:nth-child(8){width:9%;text-align:center;}
.box .table table tr:first-child th:nth-child(9) ,
.table table tr:not(:first-child) td:nth-child(9){width:7.2%;text-align:center;}
.box .table table tr:first-child th:nth-child(10) ,
.table table tr:not(:first-child) td:nth-child(10){width:6.5%;text-align:center;}

.box .table table tr:not(:first-child) td:nth-child(8) a{display:inline-block;width:34px;height:18px;border-radius:3px;font-size:13px;color:#fff;text-align:center;line-height:18px;}
.box .table table tr:not(:first-child) td:nth-child(8) .normal{background:#00d0a1;}
.box .table table tr:not(:first-child) td:nth-child(8) .excessive{background:#ff443a;}
.box .table table tr:not(:first-child) td:nth-child(9) a{display:inline-block;width:22px;height:22px;margin-right:35px;}
.box .table table tr:not(:first-child) td:nth-child(9) a:last-child{margin-right:0;}
.box .table table .playBtn{background:url(../images/icon_play.png)no-repeat center;display: block;width: 21px;height: 21px;margin: auto;}


.box .table table tr:not(:first-child){width:100%;height:45px;font-size:13px;color:#59b3ff;}
.box .table table tr:nth-child(odd){background:rgba(7,147,255,.15);}
.box .table table tr:first-of-type{background:rgba(7,147,255,.3);}



.page{margin-top:35px;text-align:center;font-size: 14px;color: #59b3ff;}
.page .sp1{font-size:14px;margin-right:20px;}
.page .sp1 i{font-style:inherit;}
.page .sp2{font-size:14px;margin-left:20px;}
.page .sp2 input{width: 20px;height: 20px;text-align: center;border: 1px solid #2c5a8a;background-color: rgba(89,179,255,.15);color: #59b3ff;}
.page > a{display:inline-block;width:20px;height:20px;vertical-align: middle;text-align: center;line-height:20px;font-size:14px;color:#59b3ff;}
.page > a:hover{color:#fff;background:#1467b1;}


.box .situation .statistics{margin-bottom: 15px;width: 100%;}
.box .situation .statistics .chartDiv{float: left;width: 24.11%;height: 230px;background-color: rgba(7,147,255,.15);}
.box .situation .statistics .chartDiv:not(:last-of-type){margin-right: 1.18%;}

.box .situation .statistics .historyData{background-color: rgba(7,147,255,.15);}

.box .situation .contrastDeta{margin-bottom: 15px;}
.box .situation .contrastDeta .chain,
.box .situation .contrastDeta .yoy{width: 49.4%;background-color: rgba(7,147,255,.15);padding: 25px;}
.box .situation .contrastDeta .data{padding-right: 20px;}
.box .situation .contrastDeta .dataTit{font-size: 16px;color: #fff;line-height: 1;margin-bottom: 20px;}
.box .situation .contrastDeta .dataTable{width: 320px;border-spacing: 0 10px;margin-top: -30px;}
.box .situation .contrastDeta .dataTable td:nth-of-type(1){width: 120px;}
.box .situation .contrastDeta .dataTable td:nth-of-type(2){width: 60px;}
.box .situation .contrastDeta .dataTable td:nth-of-type(3){width: 60px;}
.box .situation .contrastDeta .dataTable td:nth-of-type(4){width: 80px;}
.box .situation .contrastDeta .dataTable td.icon{padding-left: 10px;}
.box .situation .contrastDeta .dataTable td.icon.up{background: url("../images/icon_up.png") no-repeat 15%;}

.box .situation .contrastDeta .dataTable tr:first-of-type{color: #59b2ff;font-size: 14px;}
.box .situation .contrastDeta .dataTable td:first-of-type{font-size: 14px;color: #59b2ff;height: 50px;}

.box .situation .contrastDeta .dataTable td:first-of-type small{color: #2573c3;}

.box .situation .contrastDeta .dataTable tr:not(:first-of-type) td:not(:first-of-type){background-color: rgba(7,147,255,.15);color: #46c7e4;text-align: center;font-size: 18px;}
.box .situation .contrastDeta .dataTable tr{margin-bottom: 20px;border-collapse:separate;}

.box .situation .contrastDeta .dataChart{width: 230px;height: 220px;margin-top: -30px;}


/* 中间主体 - 质量排名    历史排名 */
.box .situation .ranking{background-color: rgba(7,147,255,.15);padding: 20px;position: relative;}
.box .situation .ranking .chartTitle{text-align: center;color: #fff;font-size: 16px;}
.box .situation .rankingTab{position: absolute;top: 17px;right: 30px;border: 1px solid #1060dd;height: 24px;line-height: 22px;border-radius: 3px;}
.box .situation .rankingTab a{float: left;width: 52px;text-align: center;color: #59b2fb;border-radius: 3px;}
.box .situation .rankingTab a.active{background-color: #1060dd;color: #fff;}
.box .situation .chart{width: 100%;height: 145px;}



.box .facilityInfo > div{width:100%;height:auto;padding:20px 30px;background:rgba(6,147,255,.15);margin-bottom:15px;}

.box .facilityInfo table{color:#59b3ff;font-family: PF;font-size:13px;border-collapse: collapse;}
.box .facilityInfo table tr:first-child td{padding-bottom:20px;}

.box .facilityInfo .info_1 table{width: 85%;}
.box .facilityInfo .info_1 th{font-size: 13px;color: #59b3ff;text-align: center;height: 50px;}
.box .facilityInfo .info_1 th:nth-of-type(1){width: 12%;}
.box .facilityInfo .info_1 th:nth-of-type(2){width: 10%;}
.box .facilityInfo .info_1 th:nth-of-type(3){width: 12%;}
.box .facilityInfo .info_1 th:nth-of-type(4){width: 15%;}
.box .facilityInfo .info_1 th:nth-of-type(5){width: 14.5%;}
.box .facilityInfo .info_1 th:nth-of-type(6){width: 11.25%;}
.box .facilityInfo .info_1 th:nth-of-type(7){width: 16.66%;}
.box .facilityInfo .info_1 td{font-size: 20px;color: #fff;text-align: center;}
.box .facilityInfo .info_1 td:nth-of-type(4){color: #00d0a1;}
.box .facilityInfo .drop_down{width:100%;height:auto;text-align:right;}
.box .facilityInfo .drop_down a{display:inline-block;width:18px;height:18px;text-align:right;}


.box .facilityInfo .details_list{padding:0 0 10px!important;}
.box .facilityInfo .details_list table{width:100%;padding:0 20px;}
.box .facilityInfo .details_list tr:first-child{width:100%;background:rgba(7,147,255,.3);}
.box .facilityInfo .details_list tr:not(:first-child):nth-child(odd){background:rgba(7,147,255,.15)}
.box .facilityInfo .details_list th{font-size:16px;color:#59b3ff;text-align:center;height: 40px;}
.box .facilityInfo .details_list th:nth-of-type(1),
.box .facilityInfo .details_list td:nth-of-type(1){width: 13.6%;}
.box .facilityInfo .details_list th:nth-of-type(2),
.box .facilityInfo .details_list td:nth-of-type(2){width: 10.4%;}
.box .facilityInfo .details_list th:nth-of-type(3),
.box .facilityInfo .details_list td:nth-of-type(3){width: 14.4%;}
.box .facilityInfo .details_list th:nth-of-type(4),
.box .facilityInfo .details_list td:nth-of-type(4){width: 10.4%;}
.box .facilityInfo .details_list th:nth-of-type(5),
.box .facilityInfo .details_list td:nth-of-type(5){width: 12.9%;}
.box .facilityInfo .details_list th:nth-of-type(6),
.box .facilityInfo .details_list td:nth-of-type(6){width: 10%;}
.box .facilityInfo .details_list th:nth-of-type(7),
.box .facilityInfo .details_list td:nth-of-type(7){width: 10.4%;}
.box .facilityInfo .details_list th:nth-of-type(8),
.box .facilityInfo .details_list td:nth-of-type(8){width: 11.5%;}
.box .facilityInfo .details_list td{font-size: 13px;height: 32px;text-align: center;}


.box .rightSidebar{float: right;width:17.4%;}
.box .rightSidebar .search{width:100%;margin:0 0 16px;}
.box .rightSidebar .detailBox{padding-top:20px;background:rgba(7,147,255,.15);height:740px;}
/*.back{margin-bottom:25px;}*/
.box .rightSidebar .detailBox .back a{display: block;font:14px/1.2 '';color:#59b3ff;padding: 0 20px;}
.box .rightSidebar .detailBox .filtrate{padding: 18px;}
.box .rightSidebar .detailBox .filtrate select{float: left;width: 33.33%;height: 15px;font-size: 13px;line-height: 15px;background: transparent;color: #59b2fb;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0 .5rem;background: url("../images/icon_drop.png") no-repeat 85%;}
.box .rightSidebar .detailBox .filtrate select:not(:last-of-type){border-right: 1px solid #59b2fb;}

.box .rightSidebar .detailBox .list{padding: 10px 0;height: 645px;overflow-y: scroll;}
.box .rightSidebar .detailBox .list::-webkit-scrollbar{width: 5px;}
.box .rightSidebar .detailBox .list::-webkit-scrollbar-thumb{background-color: #1f4ea3;}
.box .rightSidebar .detailBox .list li{font-size: 14px;line-height: 36px;margin: 0 20px;background: url("../images/icon_detail.png") no-repeat 95%;}
.box .rightSidebar .detailBox .list li a{color: #59b2fb;}
.box .rightSidebar .detailBox .list li span{margin-right: 20px;}

/*
.box .rightSidebar .detailBox > div{font-size:13px;color:#59b3ff;margin-bottom:15px;}
.box .rightSidebar .detailBox > div:nth-child(2){margin-bottom:25px;}
.box .rightSidebar .detailBox > div:nth-child(2) .sp1{font-size:14px;color:#fff;vertical-align: middle;display: inline-block;width: 80%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.box .rightSidebar .detailBox > div:nth-child(2) .sp2{float: right;font-size:13px;color:#fff;width:34px;height:18px;background:#00d0a1;border-radius:3px;text-align:center;line-height:18px;margin-right:.2rem;}
.box .rightSidebar .detailBox > div:nth-child(2) p{font-size:12px;color:#6a8bbf;margin-top:10px;}
.box .rightSidebar .detailBox > div:nth-child(10){padding:0 30px 0 25px;line-height:30px;background:url(../images/icon_5.png)no-repeat left 5px;}
.box .rightSidebar .detailBox > div:last-child{padding-left:20px;background:url(../images/icon_4.png)no-repeat left center;}
*/


.switchConts .switchItem:not(:first-of-type){display: none;}


#detail1{position: relative;}
.details_list .title{text-align: center;font-size: 16px;color: #fff;line-height: 58px;}
#detail1 .absUnit{position: absolute;right: 25px;top: 25px;color: #6a8bbf;font-size: 12px;}
#detail1 .fr:last-of-type{width: 205px;margin-right: 30px;margin-top: 30px;}
#detail1 .fr:last-of-type div{height: 43px;line-height: 43px;padding-left: 37px;margin-bottom: 10px;color: #fff;}
#detail1 .fr:last-of-type div:nth-of-type(1){background-color: rgba(0,255,255,.15);}
#detail1 .fr:last-of-type div:nth-of-type(2){background-color: rgba(244,133,69,.15);}
#detail1 .fr:last-of-type div:nth-of-type(3){background-color: rgba(149,214,78,.15);}

#detail1 .fr:last-of-type div span{float: left;width: 80px;}
#detail1 .fr:last-of-type div b{display: inline-block;padding-left: 5px;font-size: 30px;font-weight: normal;}
#detail1 .fr:last-of-type div:nth-of-type(1) small{color: #00ffff;}
#detail1 .fr:last-of-type div:nth-of-type(2) small{color: #f48545;}
#detail1 .fr:last-of-type div:nth-of-type(3) small{color: #95d64e;}
#detail1 .fr:last-of-type div:nth-of-type(1) b{color: #00ffff;}
#detail1 .fr:last-of-type div:nth-of-type(2) b{color: #f48545;}
#detail1 .fr:last-of-type div:nth-of-type(3) b{color: #95d64e;}

#detail2 .numberValues{width: 270px;margin-right: 20px;}
#detail2 .numberValues div{width: 48%;float: left;height: 36px;line-height: 36px;color: #fff;padding-left: 8px;margin-bottom: 7px;font-size: 12px;}
#detail2 .numberValues div:nth-of-type(odd){margin-right: 4%;}
#detail2 .numberValues div span{display: inline-block;width: 50px;}
#detail2 .numberValues div b{display: inline-block;padding-left: 5px;font-size: 18px;font-weight: normal;}
#detail2 .numberValues div:nth-of-type(1){background-color: rgba(63,164,255,.15);}
#detail2 .numberValues div:nth-of-type(2){background-color: rgba(219,111,143,.15);}
#detail2 .numberValues div:nth-of-type(3){background-color: rgba(149,149,242,.15);}
#detail2 .numberValues div:nth-of-type(4){background-color: rgba(59,199,211,.15);}
#detail2 .numberValues div:nth-of-type(5){background-color: rgba(129,205,237,.15);}
#detail2 .numberValues div:nth-of-type(6){background-color: rgba(80,199,136,.15);}
#detail2 .numberValues div:nth-of-type(7){background-color: rgba(212,168,137,.15);}
#detail2 .numberValues div:nth-of-type(8){background-color: rgba(227,207,85,.15);}
#detail2 .numberValues div:nth-of-type(9){background-color: rgba(227,207,85,.15);}
#detail2 .numberValues div:nth-of-type(10){background-color: rgba(142,108,233,.15);}

#detail2 .numberValues div:nth-of-type(1) small,
#detail2 .numberValues div:nth-of-type(1) b{color: #3fa4ff;}
#detail2 .numberValues div:nth-of-type(2) small,
#detail2 .numberValues div:nth-of-type(2) b{color: #db6f8f;}
#detail2 .numberValues div:nth-of-type(3) small,
#detail2 .numberValues div:nth-of-type(3) b{color: #9591f2;}
#detail2 .numberValues div:nth-of-type(4) small,
#detail2 .numberValues div:nth-of-type(4) b{color: #3bc7d3;}
#detail2 .numberValues div:nth-of-type(5) small,
#detail2 .numberValues div:nth-of-type(5) b{color: #81cded;}
#detail2 .numberValues div:nth-of-type(6) small,
#detail2 .numberValues div:nth-of-type(6) b{color: #50c788;}
#detail2 .numberValues div:nth-of-type(7) small,
#detail2 .numberValues div:nth-of-type(7) b{color: #d4a889;}
#detail2 .numberValues div:nth-of-type(8) small,
#detail2 .numberValues div:nth-of-type(8) b{color: #8e6ce9;}
#detail2 .numberValues div:nth-of-type(9) small,
#detail2 .numberValues div:nth-of-type(9) b{color: #e3cf55;}
#detail2 .numberValues div:nth-of-type(10) small,
#detail2 .numberValues div:nth-of-type(10) b{color: #c888d9;}
#detail2 .charts{width: 100%;margin-top: 25px;}
#detail2 .charts>div{float: left;width: 300px;height: 220px;}

#lampblackMonitor{float: left;width: 640px;height: 220px;}

#wasteWaterMonitor{float: left;width: 600px;height: 240px;}


@media only screen and (min-height: 1080px) {

  .box .mainDiv1 .dv1 .map,
  .box .mainDiv1 .dv1 .img{height: 430px;}

  .box .rightSidebar .detailBox{height: 870px;}

  .box .mainDiv1 .dv2{max-height: 870px;}


}


@media only screen and (max-width: 1600px) {


  /*.box{margin-top: 35px;}*/
  .box .menu{height: 26px;}
  .box .menu .date a{font: 14px/26px '';}
  .box .menu .date span{font: 16px/26px '';margin: 0 3px 0 7px;}
  .box .menu .time{width: 30%;height: 26px;line-height: 24px;}
  .box .menu .time a{font-size: 14px;color: #59b3ff;}
  .box .menu .cutover{width: 21px;height: 17px;margin: 3px;margin-left: 1rem;}
  .box .menu .tabsOption a{font: 14px/26px '';padding: 0 .8rem;}

  .box .mainDiv1 .dv1 .map{height: 300px;margin-bottom: 1rem;}
  .box .mainDiv1 .dv1 .img{height: 300px;padding: 0;}

  .box .mainDiv1 .dv2 .switchItem > div{margin-bottom: 10px;padding: 1.5rem 1rem 1rem;}



}


@media only screen and (max-width: 1366px) {

  .box{margin-top: 25px;}
  .box .main{margin-top: 0;}
  .box .menu{height: 24px;}
  .box .menu .date a{font: 12px/24px '';}
  .box .menu .date span{font: 14px/24px '';margin: 0 3px 0 7px;}
  .box .menu .time{height: 24px;line-height: 22px;background-size: auto 70%;}
  .box .menu .time a{font-size: 12px;}
  .box .menu .tabsOption a{font: 12px/24px '';padding: 0 .6rem;}

  .box .mainDiv1 .dv1 .map{height: 260px;margin-bottom: .5rem;}
  .box .mainDiv1 .dv1 .img{height: 260px;padding: 0;}


  .box .mainDiv1 .dv2 table{font-size: 12px;}
  .box .mainDiv1 .dv2 table tr td{padding: 0 1rem .8rem 0;}
  .box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:first-child,
  .box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:nth-child(2),
  .box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:nth-child(3),
  .box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:nth-child(4),
  .box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:nth-child(5),
  .box .mainDiv1 .dv2 .info_1 table tr:nth-child(2) td:nth-child(6),
  .box .mainDiv1 .dv2 .info_2 table tr:nth-child(2) td:nth-child(1),
  .box .mainDiv1 .dv2 .info_2 table tr:nth-child(2) td:nth-child(2){font-size: 16px;}


  .box .mainDiv1 .dv2 .details_list table tr th{font-size: 12px;}
  .box .mainDiv1 .dv2 .details_list table tr:not(:first-child) td:nth-child(2) span{font: 12px/16px '';height: 16px;}


  .box .table table tr:first-child{height: 40px;font-size: 14px;}
  .box .table table tr:not(:first-child){height: 35px;font-size: 12px;}
  .box .table table .playBtn{width: 1rem;height: 1rem;background-size: cover;}

  .box .situation .statistics{margin-bottom: 10px;}
  .box .situation .statistics .chartDiv{width: 24.3%;height: 150px;}
  .box .situation .statistics .chartDiv:not(:last-of-type){margin-right: .933%;}

  .box .situation .contrastDeta{margin-bottom: 10px;}
  .box .situation .contrastDeta .chain,
  .box .situation .contrastDeta .yoy{width: 49.5%;padding: 10px 15px;}
  .box .situation .contrastDeta .data{padding-right: 0;}
  .box .situation .contrastDeta .dataTable{width: 280px;}
  .box .situation .contrastDeta .dataTable td:first-of-type{height: 35px;font-size: 12px;}
  .box .situation .contrastDeta .dataTable td:nth-of-type(1){width: 100px;}
  .box .situation .contrastDeta .dataTable td:nth-of-type(2){width: 50px;}
  .box .situation .contrastDeta .dataTable td:nth-of-type(3){width: 50px;}
  .box .situation .contrastDeta .dataTable td:nth-of-type(4){width: 60px;}
  .box .situation .contrastDeta .dataChart{width: 150px;height: 160px;}

  .page{margin-top: 1rem;}

  .box .situation .ranking{padding: 15px;}

  .box .situation .chart{height: 110px;}


  .box .facilityInfo > div{padding: 10px 20px;margin-bottom: 10px;}
  .box .facilityInfo .info_1 td{font-size: 16px;}
  .box .facilityInfo .details_list th{height: 35px;font-size: 14px;}
  .box .facilityInfo .details_list td{height: 30px;font-size: 12px;}
  .box .facilityInfo .details_list td img{width: 1rem;height: 1rem;}

  .box .rightSidebar .search{margin-bottom: 10px;}

  .box .rightSidebar .detailBox{height: 520px;}

  #lampblackMonitor{width: 400px;height: 180px;}
  #detail1 .fr:last-of-type div{height: 38px;line-height: 38px;}


}


@media only screen and (max-width: 1366px) and (min-height: 768px) {

  .left_btn{top: 130px;}

  .box{margin-top: 35px;}

  .box .mainDiv1 .dv1 .map,
  .box .mainDiv1 .dv1 .img{height: 300px;}

  .box .table table tr:first-child{height: 45px;}
  .box .table table tr:not(:first-child){height: 40px;}

  .box .situation .statistics .chartDiv{height: 170px;}

  .box .situation .contrastDeta .chain,
  .box .situation .contrastDeta .yoy{padding: 15px;}

  .box .situation .chart{height: 150px;}

  .box .rightSidebar .detailBox{height: 590px;}




}











